<h1>HEAL-THY</h1>
<br>

<p>
Hello! [] 
<br>
<br>
Happy to see that you are still commited to being HEAL-THY!
</p>

<form class="" action="/login" method="post"> 


<label for="name">My name is </label>
<input type="text"  name="name"   value="">
<br>

<label for="email">Please Enter Your Email:</label>
<input type="text"  name="email"   value="">
<br>
<label for="password"> Please Enter Your Password:</label>
<input type="text"  name="password"   value="">
<br>
<input type="submit" value="LOGIN">

</form>



