<h1> Post New Weight </h1>

<form action="/weights"  method="post"> 
<label for="weight"> My Current Weight</label>
<input type="number" name="weight" value="" placeholder="Enter Your Weight" >
<br>
<label for="food_intake">  Today I Ate?  </label>

<input type="text" name="food_intake" value="" size="26"  >
<br>
<input type="submit" name="" value="Submit"?
</form>