<h1>HEY , PLEASE SIGN UP</h1>

<p>
Thanks for making the decision to be Heal-thy!
Welcome to the family!!
</p>

<form class="" action="/users" method="post">

<label for="name"> Enter Your Name:</label>
<input type="text"  name="name"   value="">
<br>
<label for="email"> Enter Your Email:</label>
<input type="text"  name="email"   value="">
<br>
<label for="password">  Enter Your Password:</label>
<input type="text"  name="password"   value="">
<br>
<input type="submit" value="Sign-Up">

</form>