<div class="container">


    <div class="content">
    <header>
      <p>Heal-thy: A Weight Tracker !</p>
    </header>
      <br>

      <p>
      Heal-thy is here to help you track your healthy journey and stay focused on your heal-thy goals.
      Wheter your goal is to lose weight or gain weight Heal-thy will keep on you on track!
      </p>
    </div>

  </div>
</div>
